Options +FollowSymLinks
#PassengerRuby /usr/bin/ruby
PassengerRuby /home/illuminu/.rbenv/shims/ruby
#PassengerAppEnv development
#PassengerLogFile /home/illuminu/ankiverse.burt.id.au/log/passenger.log
