%form(method="post")
  %span Hi, I was born on the
  %input(type="text" name="day")
  %span day of the month of
  %input(type="text" name="month")
  %span in the year AD
  %input(type="text" name="year")
  %span . Can you please tell me,
  %input(type="submit" value="how many days old am I?")
