%p Today you are #{days} days old!
%p I was born on the 20th day of the month of May in the year AD2013.
%p
  %span I was made by the maker of
  %a(href="http://ankiverse.burt.id.au/") AnkiVerse
  %span , a free helper for memorizing poetry and Bible bits.
